*{
    font-family: 'Noto Sans KR', sans-serif;
  }


h3{
    font-weight: bold;
    font-size: 20px;

}

.titleWrapper{
    display: flex;
    gap: 5px;
    align-items: center
}
.des{
  font-size: 16px;
  font-weight: 400;
}
.popularIcon{
    color: #E2A753;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.tag{
    background-color: #5F5F5F;
    display: inline;
    width:fit-content;
    border-radius: 7px;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    padding: 5px 8px;
}

@keyframes fireBounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .fireIcon {
    animation: fireBounce 1s ease-in-out infinite;
  }