.footer {
    background-color: #465262;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    padding: 40px 80px;
    gap: 40px;
}

.teamSection {
    /* flex: 1; */
    text-align: left;
}

.supportSection {
    flex: 1;
    text-align: left;
}

.contactSection {
    /* flex: 1; */
    text-align: left;
}

.teamSection h2,
.supportSection h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #fff;
}

.contactSection h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #a5a5a5;
}

.teamSection ul,
.supportSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.teamSection ul li,
.supportSection ul li {
    margin-bottom: 10px;
    color: #C0C0C0;
    cursor: pointer;
}

.teamSection ul li a {
    color: inherit;
    text-decoration: none;
}

.teamSection ul li:hover,
.supportSection ul li:hover {
    color: #fff;
}

.contactSection p {
    font-size: 16px;
    color: #C0C0C0;
    margin: 5px 0;
}